@import "src/assets/styles/bootstrap";

.msacn-fader {
  display: flex;
  flex-flow: row;

  .msacn-fader-label {
    @extend .me-1;
    font-family: monospace;
  }

  .msacn-level {
    @extend .ms-1;
    font-family: monospace;
  }
}
