// Match the UI colors.
@import "../../mobile_sacn_webui/src/assets/styles/colors";

$colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "danger": $danger,
        "warning": $warning,
        "info": $info,
        "light": $light,
        "dark": $dark,
);
$body-colors: (
        "primary": $body-color,
        "secondary": $body-color,
        "success": $body-color,
        "danger": $body-color,
        "warning": $dark,
        "info": $dark,
        "light": $dark,
        "dark": $body-color,
);

img {
  &.screenshot {
    max-width: 375px;
    max-height: max-content;
  }
}
.btn {
  img {
    height: 1em;

    &.line-height {
      vertical-align: text-bottom;
    }
  }
}
