[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=${PROJECT_DISPLAY_NAME}
Version=${PROJECT_VERSION}
Categories=Office
Exec=${PROJECT_NAME}
StartupNotify=true
Terminal=false
