@import "@/assets/styles/bootstrap";

.jumbotron .msacn-logo {
  max-height: 1em;
  max-width: 1em;
  vertical-align: baseline;
}

.screenshots {
  @extend .mx-auto;

  .card {
    @extend .bg-body-secondary;
    @extend .my-3;

    min-width: 20rem;
    width: 20rem;
  }
}