@import "@/assets/styles/bootstrap";

.msacn-cmdline {
  @extend .px-3;
  @extend .py-3;

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  appearance: none;
  background-color: $black;
  text-align: left;
  font-family: monospace;
  color: $gray-600;

  .msacn-cmdline-token {
    @extend .mx-1;
  }
}

.msacn-keypad.active .msacn-cmdline {
  color: $green;
}

.msacn-keypad {
  @extend .my-3;
  @extend .mx-auto;
  // This keeps the keypad from getting unwieldy on larger screens (e.g. iPad).
  max-width: map-get($container-max-widths, "sm");

  .msacn-keypad-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: map-get($spacers, 2);

    // Colspan helpers.
    @for $span from 1 through 3 {
      .msacn-keypad-button-#{$span} {
        grid-column: span #{$span};
      }
    }
  }
}
