@import "../../assets/styles/bootstrap";

.msacn-sourcelist {
  .list-group-item {
    color: $body-color;
  }
}

.msacn-levelgrid {
  tr {
    th:first-of-type {
      text-align: right;
    }

    td {
      text-align: center;
    }
  }
}
