@import "../../assets/styles/bootstrap";

.msacn-levelfaders {
  .msacn-fader {
    @extend .my-2;
  }
}

.msacn-cmdline {
  @extend .px-3;
  @extend .py-3;

  width: 100%;
  appearance: none;
  background-color: $black;
  text-align: left;
  font-family: monospace;
  color: $gray-600;

  .msacn-cmdline-token {
    @extend .mx-1;
  }
}

.msacn-keypad.active .msacn-cmdline {
  color: $green;
}

.msacn-keypad table {
  border-collapse: separate;
  border-spacing: $spacer * 0.5;
  table-layout: fixed;

  td {
    width: calc(100% / 3);
  }

  button.btn {
    display: block;
    width: 100%;
  }
}
