@import "bootstrap/scss/variables-dark";

$input-disabled-bg: $dark;

$accordion-bg: $secondary;
$accordion-button-color: $body-color;
$accordion-button-active-bg: $accordion-bg;
$accordion-button-active-color: $accordion-button-color;

$card-bg: $secondary;
