#root {
  @extend .h-100;

  .content-wrapper {
    @extend .h-100;
    @extend .d-flex;
    @extend .flex-column;
  }
}

main.container {
  $padding: calc($grid-gutter-width / 2);
  background-color: $gray-800;
  padding: $padding $padding;

  // Compensate for fixed header and footer
  $navbar-height: calc($navbar-brand-height + (2 * $navbar-brand-padding-y) + (2 * $navbar-padding-y));
  margin-top: $navbar-height;
  margin-bottom: $navbar-height;
}

table.table {
  th {
    // Table headers shouldn't wrap.
    @extend .text-nowrap;
  }

  // Content in tables don't need any extra spacing.
  ul, ol {
    margin-bottom: 0;
  }
  p {
    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

// Paragraphs in tooltips don't need any extra spacing.
.tooltip > p:first-of-type {
  @extend .pb-0;
}

// Fix inline lists that wrap to multiple lines appearing squished together.
.list-inline {
  .list-inline-item {
    &:not(:last-child) {
      margin-bottom: $list-inline-padding;
    }
  }
}

// Use a monospace font so control sizes don't change randomly as the value changes.
.msacn-level {
  @extend .ms-1;
  font-family: monospace;
}
.msacn-fader {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;

  .msacn-fader-label {
    @extend .me-1;
    font-family: monospace;
  }

  .msacn-bar-container {
    height: 1rem;
    width: 100%;

    .msacn-bar-bg {
      height: 100%;
      fill: $dark;
      stroke: none;
    }

    .msacn-bar-filled {
      height: 100%;
      fill: $primary;
      stroke: none;
    }
  }
}
