@import "@/assets/styles/bootstrap";

.msacn-navbar-top {
  @extend .bg-body-secondary;

  margin-bottom: map-get($spacers, 4);

  .navbar-brand {
    margin: auto;

    img {
      max-height: 1em;
      max-width: 1em;
      vertical-align: baseline;
    }
  }
}

.msacn-navbar-bottom {
  @extend .bg-body;

  .msacn-github-link {
    flex: 1 1 auto;

    img, svg {
      max-width: 1rem;
      max-height: 1rem;
      vertical-align: baseline;
    }
  }
}

[data-bs-theme=dark] .only-light {
  display: none !important;
}

[data-bs-theme=light] .only-dark {
  display: none !important;
}