img.screenshot {
  max-width: 375px;
  max-height: max-content; }

kbd:not(.compound) {
  font-family: sans-serif;
  color: #000000;
  background-color: #dee2e6;
  border: #dee2e6 1px solid;
  border-radius: 4px;
  padding: 0 0.25em;
  margin: 0; }

.btn {
  display: inline-block;
  font-family: sans-serif;
  color: #e9ecef;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 0.25em;
  margin: 0;
  height: 1.25em; }
  .btn.color-primary {
    color: #e9ecef;
    background-color: #052c65;
    border-color: #052c65; }
  .btn.color-secondary {
    color: #e9ecef;
    background-color: #495057;
    border-color: #495057; }
  .btn.color-success {
    color: #e9ecef;
    background-color: #146c43;
    border-color: #146c43; }
  .btn.color-danger {
    color: #e9ecef;
    background-color: #b02a37;
    border-color: #b02a37; }
  .btn.color-warning {
    color: #212529;
    background-color: #cc9a06;
    border-color: #cc9a06; }
  .btn.color-info {
    color: #212529;
    background-color: #0aa2c0;
    border-color: #0aa2c0; }
  .btn.color-light {
    color: #212529;
    background-color: #dee2e6;
    border-color: #dee2e6; }
  .btn.color-dark {
    color: #e9ecef;
    background-color: #212529;
    border-color: #212529; }
  .btn img {
    height: 0.75em; }
    .btn img.line-height {
      vertical-align: text-bottom; }

.line-height {
  height: 1em !important; }
