name: Build/Test

on:
  push: ~
  workflow_dispatch: ~

env:
  SOURCE_DIR: ${{github.workspace}}
  BUILD_DIR: ${{github.workspace}}/build
  VCPKG_DEFAULT_BINARY_CACHE: ${{github.workspace}}/.vcpkg-binary-cache
  QT_VERSION: 6.10

defaults:
  run:
    shell: bash

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        system:
          - os: ubuntu-latest
            cmake_preset: linux-release
          - os: windows-latest
            cmake_preset: windows-release
            qt_arch: win64_msvc2022_64
    runs-on: ${{matrix.system.os}}
    steps:
      #######################
      # SETUP
      #######################
      - name: Get number of CPU cores
        uses: SimenB/github-actions-cpu-cores@v2
        id: cpu-cores
      - name: Set CMake Parallel level
        run: |
          echo "CMAKE_BUILD_PARALLEL_LEVEL=${{ steps.cpu-cores.outputs.count }}" >> ${GITHUB_ENV}
          echo "CTEST_PARALLEL_LEVEL=1" >> ${GITHUB_ENV}
      - uses: actions/checkout@v4
      - name: Setup vcpkg
        run: echo "VCPKG_ROOT=${VCPKG_INSTALLATION_ROOT}" >> "$GITHUB_ENV"
      - name: Create vcpkg binary cache
        run: mkdir -p "${VCPKG_DEFAULT_BINARY_CACHE}"
      - name: Restore vcpkg binary cache
        uses: actions/cache@v4
        with:
          path: ${{ env.VCPKG_DEFAULT_BINARY_CACHE }}
          key: ${{ runner.os }}-vcpkg-binary-cache-${{ hashFiles('vcpkg*.json') }}
          restore-keys: |
            ${{ runner.os }}-vcpkg-binary-cache-
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          cache: pip
          cache-dependency-path: doc/requirements.txt
      - name: Install System Packages (macOS)
        if: ${{runner.os == 'macOS'}}
        run: brew install pandoc
      - name: Install System Packages (Windows)
        if: ${{runner.os == 'Windows'}}
        run: |
          choco install pandoc -y --ia=ALLUSERS=1
      - name: Install System Packages (Linux)
        if: ${{runner.os == 'Linux'}}
        run: |
          sudo apt-get update
          sudo apt-get -y install libcurl4-openssl-dev uuid-dev pandoc libgl1-mesa-dev qt6-base-dev libqt6svg6-dev
      - name: Setup MSVC (Windows)
        if: ${{runner.os == 'Windows'}}
        uses: TheMrMilchmann/setup-msvc-dev@v3
        with:
          arch: x64
      - name: Install Qt
        # Don't need this on Linux, as Qt will come from the system package manager above
        if: ${{runner.os != 'Linux'}}
        uses: jurplel/install-qt-action@v4
        with:
          dir: ${{github.workspace}}/.qt
          version: ${{env.QT_VERSION}}
          arch: ${{matrix.system.qt_arch}}
          cache: true
      - name: Cache web ui deps
        uses: actions/cache@v4
        with:
          path: ${{github.workspace}}/mobile_sacn_webui/node_modules
          key: ${{runner.os}}-webui-${{hashfiles('**/package-lock.json')}}
          restore-keys: |
            ${{runner.os}}-webui-
      #######################
      # BUILD
      #######################
      - name: Configure CMake
        run: >
          cmake
          -S "${SOURCE_DIR}"
          -B "${BUILD_DIR}"
          --preset=${{matrix.system.cmake_preset}}
          -DBUILD_TESTING=On 
          -DBUILD_PACKAGE=On 
          -DSENTRY_DSN="${{secrets.SENTRY_DSN}}"
          -DCMAKE_INSTALL_PREFIX="${{github.workspace}}/install_root"
      - name: Build
        run: cmake --build "${BUILD_DIR}"

      #######################
      # PACKAGE
      #######################
      - name: Package
        working-directory: ${{env.BUILD_DIR}}
        run: cpack -B "${BUILD_DIR}/packages"
      - name: Upload failed package artifacts
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: failed_package_${{runner.os}}
          path: ${{env.BUILD_DIR}}/packages
      - name: Upload packages
        uses: actions/upload-artifact@v4
        with:
          name: packages_${{runner.os}}_${{runner.arch}}
          path: ${{env.BUILD_DIR}}/packages/*.*
          if-no-files-found: error

  #######################
  # RELEASE
  #######################
  release:
    needs:
      - build
    runs-on: ubuntu-latest
    if: ${{ github.ref_type == 'tag' }}
    steps:
      - uses: actions/checkout@v4
        with:
          path: repo
      - name: Get built packages
        uses: actions/download-artifact@v4
        id: download
        with:
          pattern: packages_*
          path: packages
          merge-multiple: true
      - name: Load signing key
        run: echo "${{ secrets.DSA_PRIVATE_KEY }}" > ${{github.workspace}}/dsa_priv.pem
      - name: Determine channel
        id: channel
        uses: dkershner6/switch-case-action@v1
        with:
          default: "dev"
          conditionals-with-values: |
            ${{ startsWith(github.ref_name, 'v') }} => main
      - name: Build manifest
        working-directory: ${{steps.download.outputs.download-path}}
        run: python3 ${{ github.workspace }}/repo/scripts/create_release_manifest.py --dsa_key "${{ github.workspace }}/dsa_priv.pem" "${{ github.ref_name }}" "${{ steps.channel.outputs.value }}" "${{ steps.download.outputs.download-path }}/manifest.json"
      - name: Release (dev build)
        uses: softprops/action-gh-release@v1
        with:
          prerelease: ${{ steps.channel.outputs.value != 'main' }}
          draft: true
          tag_name: ${{ github.ref_name }}
          fail_on_unmatched_files: true
          generate_release_notes: true
          files: ${{steps.download.outputs.download-path}}/*

  #######################
  # APT REPOSITORY
  #######################
  apt:
    needs:
      - build
    runs-on: ubuntu-latest
    if: ${{ github.ref_type == 'tag' }}
    env:
      S3FS_PASSWD_PATH: ${{ github.workspace }}/.passwd-s3fs
      APT_REPO_LOCAL_PATH: ${{ github.workspace }}/msacn-apt
    steps:
      - name: Set env vars
        run: |
          echo "APT_DEBS_PATH=${APT_REPO_LOCAL_PATH}/pool" >> ${GITHUB_ENV}
          echo "APT_META_PATH=${APT_REPO_LOCAL_PATH}/dists/stable/main/binary-$(dpkg --print-architecture)" >> ${GITHUB_ENV}
      - uses: actions/checkout@v3
        with:
          path: repo
      - name: Get built packages
        uses: actions/download-artifact@v4
        id: download
        with:
          path: packages
          pattern: packages_*
          merge-multiple: true
      - name: Install System Packages
        run: |
          sudo apt-get update
          sudo apt-get -y install dpkg-dev gpg s3fs
      - name: Import repository key
        id: apt_key
        uses: crazy-max/ghaction-import-gpg@v4
        with:
          gpg_private_key: ${{ secrets.APT_REPO_PRIVATE_KEY }}
      - name: Setup credentials
        run: |
          echo ${{ secrets.AWS_ACCESS }}:${{ secrets.AWS_SECRET }} > ${S3FS_PASSWD_PATH}
          chmod 600 ${S3FS_PASSWD_PATH}
          mkdir -p ${APT_REPO_LOCAL_PATH}
      - name: Mount repo
        run: s3fs msacn-apt ${APT_REPO_LOCAL_PATH} -o passwd_file=${S3FS_PASSWD_PATH} -o url=${{ secrets.AWS_ENDPOINT }} -o default_acl=public-read
      - name: Create directories
        run: |
          mkdir -p ${APT_DEBS_PATH}/main/
          mkdir -p ${APT_META_PATH}
      - name: Copy new packages
        run: cp -v  ${{steps.download.outputs.download-path}}/*.deb ${APT_DEBS_PATH}/main/
      - name: Generate repo metadata
        working-directory: ${{ env.APT_REPO_LOCAL_PATH }}
        # The outputs are first made to a temporary location to avoid unsupported incremental writes to S3 storage.
        run: |
          dpkg-scanpackages --arch $(dpkg --print-architecture) --multiversion pool > ${{ runner.temp }}/Packages
          gzip --stdout ${{ runner.temp }}/Packages > ${{ runner.temp }}/Packages.gz
          mv ${{ runner.temp }}/Packages ${{ runner.temp }}/Packages.gz ${APT_META_PATH}/
          python3 ${{ github.workspace }}/repo/scripts/apt_release.py ${{ steps.apt_key.outputs.keyid }}
